use flake

# Load environment variables
export RUST_LOG=info
export DATABASE_URL="postgres://admin:password@127.0.0.1:5432/portfolio"
export RUST_BACKTRACE=1

# Optional: Print helpful info when entering directory
if [ -z "$JAKEWRAY_INIT" ]; then
  export JAKEWRAY_INIT=1
  echo "🚀 jakewray.dev devenv ready"
fi