services:
  portfolio:
    build: .
    restart: always
    environment:
      - DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
      - LEPTOS_SITE_ADDR=0.0.0.0:3000
      - RUST_LOG=info
    depends_on:
      - db
    networks:
      - jake_net
    volumes:
      - ./media_mount:/app/media

  db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - jake_net

  migration:
    build: .
    depends_on:
      - db
    environment:
      DATABASE_URL: postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
    volumes:
      - ./migrations:/migrations
    command: sqlx migrate run --source /migrations
    networks:
      - jake_net

  proxy:
    image: caddy:2-alpine
    restart: unless-stopped
    ports:
      - '80:80'
      - '443:443'
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - portfolio
    networks:
      - jake_net

volumes:
  db_data:
  caddy_data:
  caddy_config:

networks:
  jake_net:
